In [1]:
import pandas as pd
import re

In [20]:
patt = re.compile('^(\d+)-(\d+) ([a-z]): (\S+)\n$')

def get_data():
    with open('input.txt') as f:
        for line in f:
            yield patt.findall(line)[0]
            
df = pd.DataFrame(get_data())
df.columns = ['low', 'high', 'char', 'password']

In [21]:
from collections import Counter

In [27]:
count = df.apply(lambda x: Counter(x.password)[x.char], axis=1)

In [30]:
df.low = df.low.astype(int)
df.high = df.high.astype(int)

In [32]:
# Part 1
df[(count >= df.low) & (count <= df.high)]

     low  high char              password
1      5     6    d             dcdddhzld
5      4     7    g               ggkgggw
6      4     7    f            fdfffflfvn
8      7    12    n          nnnnnnvnnnnn
10     9    17    m     mmmmmmmmjmmmmmmmw
..   ...   ...  ...                   ...
990   15    16    x      xxxxxxxxxxxxxxsx
993    8    10    f        ffvldffqfqffgf
994    1     3    r                rzqrmz
997    9    12    t       tvwstttttttktwt
999    9    16    d  dsdddddddrdddddhdbdd

[636 rows x 4 columns]

In [33]:
# Part 2

In [39]:
def compare(x):
    return (x.char == x.password[x.low - 1]) ^ (x.char == x.password[x.high - 1])

In [40]:
df[df.apply(compare, axis=1)]

     low  high char              password
1      5     6    d             dcdddhzld
3      3     6    b            bbhbbbqbbb
5      4     7    g               ggkgggw
6      4     7    f            fdfffflfvn
8      7    12    n          nnnnnnvnnnnn
..   ...   ...  ...                   ...
995    7     8    n             tntnnnntn
996    6    14    s     qpvlfbsgswsnwsmpz
997    9    12    t       tvwstttttttktwt
998    4     6    g               vslqbgg
999    9    16    d  dsdddddddrdddddhdbdd

[588 rows x 4 columns]